{% layout 'layout.liquid' %}
{% block content %}
  <div>
    <h1>Welcome to the Fruit App!</h1>
    <p>This is all bout fruit and comments about fruits!!</p>
    <img
      src=""
      alt="image of oranges"
      height="200px">
  </div>
{% endblock %}